
@{
    ViewBag.Title = "ListStudents";
}

<h2>ListStudents</h2>


<table class="table table-striped">
    <thead>
        <tr>
            @foreach (var propertyInfo in typeof(LW_1.Models.Entities.Студенты).GetProperties())
            {
                if (!propertyInfo.GetGetMethod().IsVirtual)
                {
                    <th class="text-center">@propertyInfo.Name</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            <tr class="text-center">
                @foreach (var propertyInfo in typeof(LW_1.Models.Entities.Студенты).GetProperties())
                {
                    if (!propertyInfo.GetGetMethod().IsVirtual)
                    {
                        <td>@propertyInfo.GetValue(group)</td>
                    }
                }
                @*<td>@Html.ActionLink("подробнее", "GetGroup", "Lab2", new { groupID = group.ID_группы }, null)</td>*@
            </tr>
        }
    </tbody>
</table>

<button type="button" class="btn btn-default" onclick="location.href'@Url.Action("CreateGroup", "Lab3")'">
    <span class="glyphicon gliphicon-plus"></span> Добавить группу
</button>
